#foo {
    color: green;
}

#foo .bar {
    color: blue;
}

#foo .bar .baz {
    color: red;
}

/* pseudo classes */
#foo:hover {
    color: red;
}

#oof:hover {
    color: white;
}

#rab:hover::selection {
    color: black;
}

input#fancy:nth-child(2):not(#z.o[type='file']) {
    color: red;
}

@-webkit-keyframes rainbow {}

* :click { outline: 0; }
